.wrapper_with_padding
	#docs.clearfix
		- unless @docs.blank?
			- @docs.each do |doc|
				%a{ href: (url_for [doc])}
					.doc
						%p.title= doc.title
						%p.date= time_ago_in_words(doc.created_at)
						%p.content= truncate(doc.content, length:50)
		- else
			%h2 Create Doc!
			%p Start Creating documents and keeping your stuff.
			%button= link_to "Start Now!", new_doc_path