#banner
	.banner_content
		%h1 File Cabinet
		%p Store your stuff! Get Organized on the Go.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callouts_inner
		.wrapper
			.callout
				%h2 Organize
				%p Shop kopi-luwak, frappuccino, turkish strong caramelization mazagran crema. Body, instant french press mug robust brewed cortado roast dark. Pumpkin spice, frappuccino mocha, at crema seasonal americano in froth café au lait. Beans, single shot foam caramelization carajillo mug percolator.
#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br/
		%button= link_to "Join Now!", new_user_registration_path


